.films {
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }

  //&__list {
  //  display: grid;
  //  grid-template-columns: repeat(6, 1fr);
  //  column-gap: 30px;
  //  row-gap: 30px;
  //}
}
