@import '../variables';

.section {
  padding: 50px 150px;

  &--hidden-x {
    padding: 50px 150px;
    overflow-x: hidden;
  }

  &__header {
    position: relative;
    margin-bottom: 20px;
    transition: $transition;
  }
}
