@font-face {
  font-family: 'Anton SC';
  src: url('../../public/fonts/AntonSC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Noto Sans';
  src: url('../../public/fonts/NotoSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

